
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@500;600;700&display=swap');
*{
    
font-family: 'Work Sans', sans-serif;
}

/* header section */

.header-icon{
   
   background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.text-color{
    color: #F948B2;
}
.white-text{
   color:#FFF;
}
.icon{
    display: flex;
    align-items: center;
    
}
h2{
    font-size: 48px;
    font-weight: 700;
}
.nav>ul{
    display: flex;
    justify-content: space-between;
}
nav>li{
    display: flex;
}



/* main section */
.goat{
 width: 1920px;

background: #FFF;
}
.goat-div{
    margin-top: 70px;
    
    text-align: center;
}
h1{
    font-weight: 600;
}
.text-goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.sign-in{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background-color: #F948B2;
}
.go-rogue{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #4EC5F7;
}
.goat-div{
    display: flex;
}
.goat-content{
    width: 901px;
height: 700px;

}

   
.online-game{
    text-align: center;
}
.online-img{
    gap: 20px;
}

.game-section{
    justify-content: center;
}
.game-content{
    
    display: flex;
}
/* footer section */

.footer{
    width: 1920px;
height: 636px;
background: #0B0223;
}
.img-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-para{
    display: inline-flex;

    
}